.error-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  flex-direction: column;
}

.error-wrapper h1 {
  color: blue;
  font-size: 80px;
}

.error-wrapper p {
  font-size: 32px;
}
