.display-status {
  width: fit-content;
  padding: 4px 10px;
  border-radius: 12px;
}

.status-probation {
  color: #aa8a00;
  background-color: #fff8d7;
}

.status-inactive {
  color: #dc3232;
  background-color: #ffe2e2;
}

.status-active {
  color: #00812f;
  background-color: #daf6e1;
}
