.action-button {
  padding: 6px;
  width: fit-content;
  color: black;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.action-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.action-group {
  display: flex;
  gap: 10px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #1eb4f0;
  color: white;
  border-radius: 600px;
}

.icon-button {
  border-radius: 8px;
  background-color: white;
}

.icon-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
