.table-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
}

.table {
  text-align: center;
  width: 100%;
  text-align: left;
  /* border-collapse: collapse; */
  border-spacing: 0 10px;
}

.table-header {
  font-weight: 300;
  background-color: #eaf9ff;
  /* background-color: black; */
  position: sticky;
  top: 0;
}

.table-row {
  border-radius: 20px;
  background-color: white;
}

.table-row:nth-child(even) {
  background-color: #fbfcfe;
}

.table-row:hover {
  background-color: #e2e1e1;
}

.table-header .table-head:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-header .table-head:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-row .table-cell:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-row .table-cell:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table-head {
  padding: 16px;
}

.table-body {
}

.table-cell {
  color: #19202d;
  font-style: regular;
  font-weight: 400;
  padding: 16px;
}
