DATABASE_URL = postgresql+asyncpg://postgres:postgres@localhost:5432/employee_db
APP_ENV = development
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=your_jwt_algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=number
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=number
