@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.chat-trigger {
  width: fit-content;
  border-radius: 40px;
  background-color: #1eb4f0;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.chat-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chat-header {
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #1eb4f0;
  color: white;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
}

.chat-body {
  padding: 20px;
  height: calc(100% - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 20px;
}

.chat-message-box {
  display: flex;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  background-color: #def6ff;
  font-size: 16px;
}

.chat-message-send {
  border-radius: 20px 20px 0px;
  align-self: end;
  background-color: #ececec;
}

.chat-message-receive {
  border-radius: 20px 20px 20px 0;
  align-self: start;
}

.chat-input-wrapper {
  position: sticky;
  bottom: 0;
  padding: 2px 20px;
  border: 1.5px solid #c6cdd9;
  border-radius: 12px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  align-self: center;
  gap: 4px;
  background-color: #fafafa;
}

.chat-input-wrapper input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: none;
}

.chat-input-wrapper input:focus {
  outline: none;
}

.chat-bottyping {
  width: fit-content;
  display: flex;
  align-items: end;
  gap: 4px;
}

.chat-bottyping span {
  font-size: 14px;
  opacity: 0.6;
}
.chat-boticon {
  animation: shake 700ms ease-in-out infinite;
}
